<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>              <string>Beavyr</string>
    <key>CFBundleDisplayName</key>       <string>Beavyr</string>
    <key>CFBundleIdentifier</key>        <string>be.kuleuven.Beavyr</string>
    <key>CFBundleExecutable</key>        <string>beavyr</string>
    <key>CFBundleIconFile</key>          <string>beavyr</string>
    <key>CFBundleVersion</key>           <string>VERSION_PLACEHOLDER</string>
    <key>CFBundleShortVersionString</key><string>VERSION_PLACEHOLDER</string>
    <key>CFBundlePackageType</key>       <string>APPL</string>
    <key>LSMinimumSystemVersion</key>    <string>11.0</string>
    <key>NSHighResolutionCapable</key>   <true/>
    <key>LSApplicationCategoryType</key> <string>public.app-category.education</string>
</dict>
</plist>
